//! text colors.scss
$text-headline-color: rgb(25, 25, 25);
$text-primary-color: #333;
$text-secondary-color: #666;

//! background colors
$primary-background-color: rgb(65, 65, 65);
// $primary-background-color: transparent;
$secondary-background-color: lightgrey;

$primary-container-color: rgb(160, 157, 157);
// $primary-container-color: rgb(255, 255, 255);

//! shadow colors
$container-shadow: 0 2px 10px -1px #3333;
$input-shadow: 0 0 15px 2px #3333;
$bottom-shadow: 0 2px 10px -1px #3333;

//! border colors/radius
$general-border: 1px solid rgb(240, 237, 237);
$general-border-radius: 5px; 

//! recipe preview color
$bass-color: rgba(172, 93, 172, 0.901);
$pad-color: lightblue;
$lead-color: rgb(141, 173, 141);
$fx-color: rgb(255, 255, 120);
$keys-color: rgb(125, 177, 177);
$pluck-color: rgba(232, 72, 72, 0.905);
$string-color: rgb(162, 135, 183);;
$other-color: rgb(255, 200, 98);



