
//! widths
$desktop-container-width: 80vw;
$mobile-container-width: 95vw;

//! padding
$desktop-padding-top: 50px 0;
$mobile-padding-top: 10px 0;

$desktop-general-padding: 30px;
$desktop-inner-padding: 10px;
$desktop-general-margin: 20px;
$desktop-medium-margin: 10px;
$desktop-small-margin: 5px;

$mobile-general-padding: 10px;
$mobile-general-margin: 10px;

