@use '../../../sass-variables/colors.scss' as colors;
@use '../../../sass-variables/widths-spacing.scss' as spacing;

.navbar {
  padding: 30px;
  box-shadow: colors.$bottom-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$header-color;

  .nav-inner-wrapper {
    width: spacing.$desktop-container-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links{

  }

  .nav-link {
    text-decoration: none;
    display: inline;
    margin-left: 40px;
  }
  
  .link {
    text-decoration: none;
    color: colors.$text-primary-color;
    border: 1px solid white;
    border-radius: 3px;
    
    &:hover {
      color: colors.$text-secondary-color;
    }
  }

  .logo {
    font-size: 1.6em;
  }

}