@use '../../../sass-variables/colors.scss' as colors;
@use '../../../sass-variables/fonts.scss' as fonts;
@use '../../../sass-variables/widths-spacing.scss' as spacing;

.recipe-preview-container {
  display: flex;
  min-width: 32%;
  height: 135px;
  margin-right: spacing.$desktop-general-margin;
  margin-bottom: spacing.$desktop-general-margin;
  box-shadow: colors.$container-shadow;
  border-radius: colors.$general-border-radius;
  overflow: hidden;
  background-color: colors.$primary-container-color;

  .player {
    min-width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .player-button {
      display: flex;
      align-items: center;
      justify-items: center;
      background-color: white;
      border: none;
      border-radius: 50%;
      padding: 5px;
      cursor: pointer;

      .playing-icon {
        width: 30px;
      }
    }
    
  }

  .Bass {
    background-color: colors.$bass-color;
  }
  
  .Pad {
    background-color: colors.$pad-color;
  }
  
  .Lead {
    background-color: colors.$lead-color;
  }
  .FX {
    background-color: colors.$fx-color;
  }

  .Keys {
    background-color: colors.$keys-color;
  }

  .Other {
    background-color: colors.$other-color;  
  }

  .Pluck {
    background-color: colors.$pluck-color;  
  }

  .String {
    background-color: colors.$string-color;  
  }

  .recipe-details {
    flex: 1;
    border: colors.$general-border;
    padding: spacing.$desktop-inner-padding;
    position: relative;

    .like-button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 2px;
      top: 2px;
      cursor: pointer;
      border: none;
      background-color: colors.$primary-container-color;
      padding: 5px;
      border-radius: 50%;
    }

    .like-icon {
      width: 16px;
    }

    .title {
      font-size: 1.2em;
      cursor: pointer;
      padding-bottom: 2px;
      width: fit-content;

      &:hover {
        text-underline-offset: 1px;
        text-decoration: underline;
      }
    }

    .icon-detail-container {
      display: flex;
      align-items: center;
      margin-bottom: 3px;
    }

    .recipe-details-icon {
      width: 15px;
      margin-right: 3px;
    }



    .synth-name {
      font-size: 0.8em;
    }

    .likes {
      font-size: 0.7em;
      // margin-bottom: spacing.$desktop-small-margin;
    }

    .user {
      font-size: 0.7em;
      cursor: pointer;
      width: fit-content;

      &:hover {
        text-underline-offset: 1px;
        text-decoration: underline;
      }
    }

    .description {
      font-size: 0.7em;
    }
  }
}

@media only screen and (max-width: 992px) {
  .recipe-preview-container {
    min-width: 48%;
  }
}

@media only screen and (max-width: 576px) {
  .recipe-preview-container {
    display: flex;
    min-width: 100%;
    height: 100px;
    margin-right: spacing.$desktop-general-margin;
    margin-bottom: spacing.$desktop-general-margin;
    box-shadow: colors.$container-shadow;
    border-radius: colors.$general-border-radius;
    overflow: hidden;
    background-color: colors.$primary-container-color;
    
    .player {
      min-width:100px;
    }
    .description {
      display: none;
    }
  
    .recipe-details { 
      .title {
        font-size: 1em;
      }

      .synth-name {
        font-size: 0.7em;
         
        
      }
    }
  }



}