@use '../../../sass-variables/colors.scss' as colors;
@use '../../../sass-variables/widths-spacing.scss' as spacing;


  .preview-container {
    width: spacing.$desktop-container-width - 20;
    margin-bottom: spacing.$desktop-general-margin+10;
    border-radius: colors.$general-border-radius;
    box-shadow: colors.$container-shadow;
    overflow: hidden;
    display: flex;
    min-height: 120px;
    background-color: colors.$primary-container-color;
      
      .player {
        min-width: 180px;
        display: flex;
        justify-content: center;
        align-items: center;

        .player-button {
          display: flex;
          align-items: center;
          justify-items: center;
          background-color: white;
          border: none;
          border-radius: 50%;
          padding: 5px;
          cursor: pointer;
    
          .playing-icon {
            width: 40px;
          }

      }

    }
  
    .recipe-information {
      flex: 1;
      // border: colors.$general-border;
      padding: spacing.$desktop-inner-padding;
      padding-left: spacing.$desktop-inner-padding;
      position: relative;

      .like-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        border: none;
        background-color: colors.$primary-container-color;
        padding: 5px;
        border-radius: 50%;
      }
  
      .like-icon {
        width: 18px;
      }
    
      .title {
        font-size: 1.4em;
        margin-bottom: 5px;;
      }

      .icon-detail-container {
        display: flex;
        align-items: center;
        margin-bottom: 3px;
      }
  
      .recipe-details-icon {
        width: 15px;
        margin-right: 3px;
      }
      
      .synth-name {
        font-size: 0.1.2em;
        
        // margin-bottom: spacing.$desktop-small-margin;
        color: colors.$text-primary-color;
      }

      .tags {
        display: flex;
        margin-bottom: 5px;
      }

      .tag {
        margin-right: spacing.$desktop-small-margin;
        font-size: 0.7em;
        background-color: rgb(224, 222, 222);
        padding: 3px 5px;
        border-radius: 3px;
      }

      .user {
        font-size: 0.9em;
        // margin-bottom: spacing.$desktop-medium-margin;
        color: colors.$text-primary-color;
        cursor: pointer;

        &:hover {
          text-underline-offset: 1px;
          text-decoration: underline;
        }
      }
  
      .likes {
        font-size: 0.9em;
        // margin-bottom: spacing.$desktop-medium-margin;
        color: colors.$text-secondary-color;
      }
  
      .description {
        font-size: 0.8em;
        color: colors.$text-secondary-color;
      }
    }




.Bass {
  background-color: colors.$bass-color;
}

.Pad {
  background-color: colors.$pad-color;
}

.Lead {
  background-color: colors.$lead-color;
}
.FX {
  background-color: colors.$fx-color;
}

.Keys {
  background-color: colors.$keys-color;
}

.Other {
  background-color: colors.$other-color;  
}

.Pluck {
  background-color: colors.$pluck-color;  
}

.String {
  background-color: colors.$string-color;  
}

}