@use '../../../sass-variables/colors.scss' as colors;
@use '../../../sass-variables/fonts.scss' as fonts;
@use '../../../sass-variables/widths-spacing.scss' as spacing;

.outer-container {
  padding: spacing.$desktop-general-padding;
  box-shadow: colors.$container-shadow;
  margin-bottom: 30px;
  background-color: colors.$primary-container-color;
  border-radius: colors.$general-border-radius;

  .scroll-container {
    margin-top: spacing.$desktop-medium-margin;
    display: flex;
    overflow: auto;
    border-radius: colors.$general-border-radius;
  }

  .category-title {
    cursor: pointer;
    padding-bottom: 2px;
    width: fit-content;

    &:hover {
      text-underline-offset: 1px;
      text-decoration-thickness: 1px !important;
      text-decoration: underline;
    }

  }

}