@use '../../../sass-variables/colors.scss' as colors;
@use '../../../sass-variables/fonts.scss' as fonts;
@use '../../../sass-variables/widths-spacing.scss' as spacing;

.recipe-preview-container {
  display: flex;
  min-width: 32%;
  min-height: 120px;
  margin-right: spacing.$desktop-general-margin;
  margin-bottom: spacing.$desktop-general-margin;
  box-shadow: colors.$container-shadow;
  border-radius: colors.$general-border-radius;
  overflow: hidden;

  .player {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .player-button {
      display: flex;
      align-items: center;
      justify-items: center;
      background-color: white;
      border: none;
      border-radius: 50%;
      padding: 5px;
      cursor: pointer;

      .playing-icon {
        width: 30px;
      }
    }
    
  }

  .Bass {
    background-color: colors.$bass-color;
  }
  
  .Pad {
    background-color: colors.$pad-color;
  }
  
  .Lead {
    background-color: colors.$lead-color;
  }
  .FX {
    background-color: colors.$fx-color;
  }

  .Keys {
    background-color: colors.$keys-color;
  }

  .Other {
    background-color: colors.$other-color;  
  }

  .Pluck {
    background-color: colors.$pluck-color;  
  }

  .String {
    background-color: colors.$string-color;  
  }



  .recipe-details {
    flex: 1;
    border: 1px solid rgb(240, 237, 237);
    padding: spacing.$desktop-inner-padding;
    cursor: pointer;

    .title {
      font-size: 1.2em;
    }

    .synth-name {
      font-size: 0.8em;
      margin-bottom: spacing.$desktop-small-margin;
    }

    .likes {
      font-size: 0.7em;
      margin-bottom: spacing.$desktop-small-margin;
    }

    .description {
      font-size: 0.7em;
    }
  }
}